<section>
  <div class="container">
    <h1>Creating league structure</h1>
    <form data-state="league-create">
      <div class="form-group">
        <label for="rules">{{structure.fields.rules.label}}</label>
        <select id="rules" class="form-control" ng-model="structure.fields.rules.ruleValue">
          <option ng-repeat="rulesOption in structure.fields.rules.options" value="{{rulesOption}}">{{rulesOption}}</option>
        </select>
        <p ng-show="structure.fields.rules.ruleValue">Your choice is {{structure.fields.rules.ruleValue}}</p>
      </div>
      <div class="form-group">
        <label for="teams">{{structure.fields.teams.label}}</label>
        <input
          id="teams"
          type="text"
          class="form-control"
          placeholder="Teams"
          ng-model="structure.fields.teams.teamValue">
        <p ng-show="structure.fields.teams.teamValue">Team name: {{structure.fields.teams.teamValue}}</p>
      </div>
      <div class="form-group">
        <label for="pitches">{{structure.fields.pitches.label}}</label>
        <input
          id="pitches"
          type="number"
          class="form-control"
          placeholder="Pitches"
          min="{{structure.fields.pitches.minNumberOfPitches}}"
          max="{{structure.fields.pitches.maxNumberOfPitches}}"
          step="{{structure.fields.pitches.step}}"
          ng-model="structure.fields.pitches.pitchValue">
        <p ng-show="structure.fields.pitches.pitchValue">Pitches type: {{structure.fields.pitches.pitchValue}}</p>
      </div>
      <div class="form-group">
        <label for="lengthInHours">{{structure.fields.timeLength.lengthInHours.label}}</label>
        <select
          id="lengthInHours"
          class="form-control"
          ng-model="structure.fields.timeLength.lengthInHours.timeLengthHoursValue">
          <option
            ng-repeat="timeOption in structure.fields.timeLength.lengthInHours.timeLength"
            value="{{timeOption}}">
            {{timeOption}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="lengthInMin">{{structure.fields.timeLength.lengthInMinutes.label}}</label>
        <select
          id="lengthInMin"
          class="form-control"
          ng-model="structure.fields.timeLength.lengthInHours.timeLengthMinutesValue">
          <option
            ng-repeat="timeOption in structure.fields.timeLength.lengthInMinutes.timeLength"
            value="{{timeOption}}">{{timeOption}}</option>
        </select>
      </div>
      <p ng-show="structure.fields.timeLength.lengthInHours.timeLengthHoursValue
        && structure.fields.timeLength.lengthInHours.timeLengthMinutesValue">Game length:
        {{structure.fields.timeLength.lengthInHours.timeLengthHoursValue}} hours:
        {{structure.fields.timeLength.lengthInHours.timeLengthMinutesValue}} minutes
      </p>
      <h5>Please, type the available time slots</h5>
      <div class="form-group">
        <label for="startTime">From</label>
        <input
          id="startTime"
          type="time"
          class="form-control"
          placeholder="9:00AM">
      </div>
      <div class="form-group">
        <label for="endTime">to</label>
        <input
          id="endTime"
          type="time"
          class="form-control"
          placeholder="15:00AM">
      </div>
      <div class="form-group">
        <label for="age">Please, select the age</label>
        <input
          id="age"
          type="number"
          class="form-control"
          placeholder="Age"
          min="7"
          max="200"
          step="1">
      </div>
      <div class="form-group">
        <label for="gender">Please, select the gender</label>
        <select id="gender" class="form-control">
          <option>male</option>
          <option>female</option>
        </select>
      </div>
      <div class="form-group">
        <label for="leagueName">Please, type the League Name (For example: "Spring League Seniors")</label>
        <input type="text" id="leagueName" class="form-control" placeholder="League name">
      </div>
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
</section>
